<div class="box smoothAppear" id="qrBox">
    <h2>Step 1: Download Google Authenticator App </h2>
    <h2>Step 2: Scan the QR code </h2>
    <div class="qr-code">
        <img src="data:image/png;base64,{{ qr_code_url }}" alt="OTP QR Code">
    </div>
    <form id="otpForm">
        {% csrf_token %}
        <div class="inputBox">
            <input type="text" name="otp" required placeholder="Enter OTP Code">
        </div>
        <button class="button" type="submit">Verify</button>
    </form>
</div>
