<div class="controls smoothAppear" id="controls">
	<button id="cancel" class="cancelButton">X</button>
	<div class="menuHeader">
		<h2>Controls</h2>
	</div>
	<div class="controls-playerOne">
		<h4>Player One</h3>
		<h4>Up: W</h3>
		<h4>Down: S</h3>
	</div>
	<div class="controls-playerTwo">
		<h4>Player Two</h3>
		<h4>Up: ↑</h3>
		<h4>Down: ↓</h3>
	</div>
	<div class="form-check form-switch" style="color: white; bottom: 20px; position: absolute;">
		<input class="form-check-input" type="checkbox" id="enable_powerup">
		<label class="form-check-label" for="enable_powerup">Enable Powerup</label>
	</div>
</div>