
<a href="/pong" onclick="route(event)">
	<button class="button mb-4">START</button>
</a>
{% if user.is_authenticated %}
	<a href="/profile" onclick="route(event)">
		<button class="button mb-4">PROFILE</button>
	</a>
	<a href="/log-out" onclick="route(event)">
		<button class="button mb-4">LOG OUT</button>
	</a>
{% else %}
	<a href="/login" onclick="route(event)">
		<button class="button mb-4">LOGIN</button>
	</a>
	<a href="/register" onclick="route(event)">
		<button class="button mb-4">REGISTER</button>
	</a>
{% endif%}
