<div id="sidePanel" class="smoothAppear col-1 d-flex flex-column justify-content-start align-items-center pt-5">
    <a href="/pong" onclick="route(event)">
        <button class="button mb-4">START</button>
    </a>
	<a href="/login" onclick="route(event)">
        <button class="button mb-4">LOGIN</button>
    </a>
	<a href="/register" onclick="route(event)">
        <button class="button mb-4">REGISTER</button>
    </a>
	<a href="/profile" onclick="route(event)">
        <button class="button mb-4">PROFILE</button>
    </a>
	<a href="/edit-profile" onclick="route(event)">
        <button class="button mb-4">EDIT PROFILE</button>
    </a>
</div>
