#sidePanel{
    position: absolute;
    border: 2px solid #f141f1;
    background-color: rgba(233, 68, 225, 0.1);
	min-width: 150px;
    /* height: 100vh; */
    z-index: 1;
	border-radius: 0.625rem;
	padding: 30px;
	top: 30%;
}

#sidePanel::before {
    content: "";
    position: absolute;
    top: -2px; /* Adjust these values to match your border width */
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: inherit;
    z-index: -1;
	border-radius: 0.625rem;

    /* Neon glow effect */
    box-shadow: 0 0 30px #f141f1;

    /* Apply the blur to the pseudo-element */
    filter: blur(2px);
}
