#toastBox {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	overflow: hidden;
	padding: 20px;
}

.toast {
	border: 2px solid #f141f1;
	background: rgba(233, 68, 225, 0.164);
	width: 300px;
	height: 80px;
	font-weight: 500;
	margin: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.625rem;
	box-shadow: 0 0 15px #f141f1;
	transform: translateX(100%);
	animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
	100% {
		transform: translateX(0);
	}
}

.toast i {
	position: absolute;
	left: 20px;
	font-size: 35px;
	color: green;
}

.toast.fail i {
	color: red;
}

.toast .text {
	flex-grow: 1;
	text-align: center;
}