.tournamentBox {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid #f141f1;
	transform: translate(-50%, -50%);
	background: rgba(100, 18, 96, 0.453);
	border-radius: 0.625rem;
	box-shadow: 0 0 30px #f141f1;
	min-width: 400px;
	min-height: 500px;
}

.players {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 36%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.players h2 {
	text-align: center;
	color: #fff;
	margin: 40px
}

.startButton {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
	/* display: none; */
}

.inputs {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column-reverse;
}

.inputs h2 {
	color: #fff;
	text-align: center;
	margin: 20px
}

.addUserButton {
	position: absolute;
	border: none;
	background: none;
	color: #fff;
	top: 10px;
	transition: 0.3s;
}

.addUserButton:hover {
	transform: scale(1.5);
	color: #1ffa39;
}

.tournamentMatches {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 300px;
	background: rgba(100, 18, 96, 0.453);
	border-radius: 0.625rem;
	border: 2px solid #f141f1;
	box-shadow: 0 0 30px #f141f1;
}

.matchHeader {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.matchHeader h2 {
	color: #fff;
	text-align: center;
}

.playerOne {
	width: 130px;
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
}

.playerOne h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	text-align: right;

}

.playerTwo {
	width: 130px;
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

.playerTwo h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	text-align: left;

}

.versus {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.versus h3 {
	color: #fff;
	text-align: center;
}